<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="box-cate">
        <p class="title-sidebar"><i class="fas fa-bars"></i>Dịch vụ thuê xe</p>
        <div class="box-border">
            <ul class="lh2-ul">
                <li><a href="product.html"><i class="fas fa-caret-right"></i>BMW</a></li>
                <li><a href="product.html"><i class="fas fa-caret-right"></i>Winfast</a></li>
                <li><a href="product.html"><i class="fas fa-caret-right"></i>Honda</a></li>
                <li><a href="product.html"><i class="fas fa-caret-right"></i>Toyota</a></li>
            </ul>
        </div>
    </div>
    <div class="box-contact">
        <p class="title-sidebar"><i class="fas fa-bars"></i>Hỗ trợ trực tuyến</p>
        <div class="box-border">
            <ul class="lh2-ul">
                <li> <a href="tel:+6494461709">Hotline: 0393368102</a></li>
                <li><a href="mailto:name@email.com">Email: mycar@gmail.com</a> </li>
            </ul>
        </div>
    </div>
    <div class="box-hightlight-news">
        <p class="title-sidebar"><i class="fas fa-bars"></i>Tin nỗi bật</p>
        <div class="box-border">
            <div class="list-news">
                <a class="img" href="news-detail.html"><img class="img-fluid lh2-img" src="img/a1.jpg" alt=""></a>
                <div class="right-list">
                    <a href="news-detail.html">Giới chức Thái Lan thông báo một người trong đội thợ lặn</a>
                    <div class="lh2-date"><i class="fas fa-calendar-alt"></i> 20/08/1993</div>
                </div>
            </div>
            <!-- end item -->
            <div class="list-news">
                <a class="img" href="news-detail.html"><img class="img-fluid lh2-img" src="img/a2.jpg" alt=""></a>
                <div class="right-list">
                    <a href="news-detail.html">Giới chức Thái Lan thông báo một người trong đội thợ lặn</a>
                    <div class="lh2-date"><i class="fas fa-calendar-alt"></i> 20/08/1993</div>
                </div>
            </div>
            <!-- end item -->
            <div class="list-news">
                <a class="img" href="news-detail.html"><img class="img-fluid lh2-img" src="img/a3.jpg" alt=""></a>
                <div class="right-list">
                    <a href="news-detail.html">Giới chức Thái Lan thông báo một người trong đội thợ lặn</a>
                    <div class="lh2-date"><i class="fas fa-calendar-alt"></i> 20/08/1993</div>
                </div>
            </div>
            <!-- end item -->
            <div class="list-news">
                <a class="img" href="news-detail.html"><img class="img-fluid lh2-img" src="img/a4.jpg" alt=""></a>
                <div class="right-list">
                    <a href="news-detail.html">Giới chức Thái Lan thông báo một người trong đội thợ lặn</a>
                    <div class="lh2-date"><i class="fas fa-calendar-alt"></i> 20/08/1993</div>
                </div>
            </div>
            <!-- end item -->
            <div class="list-news">
                <a class="img" href="news-detail.html"><img class="img-fluid lh2-img" src="img/toyota.png" alt=""></a>
                <div class="right-list">
                    <a href="news-detail.html">Giới chức Thái Lan thông báo một người trong đội thợ lặn</a>
                    <div class="lh2-date"><i class="fas fa-calendar-alt"></i> 20/08/1993</div>
                </div>
            </div>
            <!-- end item -->
        </div>
    </div>
</body>
</html>